<ul class="clearfix">
    <li class="li-navigation">
        <a href="#">
            <span class="span-navigation">home</span>
        </a>
        <div class="div-navigation">

        </div>
    </li>
    <li class="li-navigation">
        <a href="#">
            <span class="span-navigation">buildings</span>
        </a>
        <div class="div-navigation">
        </div>
    </li>
    <li class="li-navigation">
        <a href="#">
            <span class="span-navigation">services</span>
        </a>
        <div class="div-navigation">
        </div>
    </li>
    <li class="li-navigation">
        <a href="#">
            <span class="span-navigation">engineering</span>
        </a>
        <div class="div-navigation">
        </div>
    </li>
    <li class="li-navigation">
        <a href="#">
            <span class="span-navigation">contact us</span>
        </a>
        <div class="div-navigation">
        </div>
    </li>
</ul>
<a href="#" id="pull">Menu</a>